.*
*-stamp
*.bak
*.cfg
*.cover
*.db
*.gpx*
*.log
*.old
*.orig
*.pot
*.pyc
*.pyo
*.so
*.swo
*.swp
*.zip
*~
build
debian/files
debian/python-module-stampdir/
debian/exifeditor
debian/exifeditor.*
dist
doc.dev
locale
exifeditor.egg-info
tags
info/
docs/
man/*.1
exifeditor/gui/_*_rc.py
exifeditor/gui/_ui_*.py
docs.dev/

